@import 'colors';

body {
    margin: 0px;
    background: #E3EEF8;
}

section {
    padding: 0px 57px;

}

button {
    border-radius: 5px;
    width: 181px;
    border: 0;
}

#taste-it {
    padding-bottom: 70px;
}

.box {
    padding: 21px;
    margin-top: 43px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.036062);
    border-radius: 5px;

    p {
        margin-top:0px;
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 32px;
        letter-spacing: -0.1px;
        color: #1F1F1F;
    }

}

.badge {
    background: #4EAB08;
    border-radius: 13px;
    width: 82px;
    display: flex;
    justify-content: center;
    height: 24px;

    p {
    margin: 6px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -0.514286px;
    text-transform: uppercase;

    color: #FFFFFF;
    }
}

.light-dark-blue-bg {
    background: #2B405A;
}

.white-bg {
    background: white;
}

.light-blue-bg {
    background: #258AFF;
}

.light-orange-bg {
    background: #FC593B;;
}

.dark-blue-bg {
    background: #192F48;

    h2 {
        padding-top: 48px;
        font-family: Karla;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 2.8125px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

.subscribtion-box {
    padding: 21px;
    border-radius: 6px;
    margin-bottom: 49px;

    img {
        padding: 18px 18px 18px 2px;
        filter: grayscale(100%);
    }
}

.flex {
    display: flex;
}


.space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}


.oval {
    width: 43px;
    height: 43px;
    
}

.logos {
    margin-top: 137px;
    margin-bottom: 165px;
    mix-blend-mode: luminosity;
    opacity: 0.5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 32px;

    img {
        margin-bottom: 34px;
    }

}

.karla-blue-15px {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2.8125px;
    text-transform: uppercase;
    color: #258AFF;
}

.karla-black-30px {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -2.52632px;
    color: #1F1F1F;
}

.karla-white-30px {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -2.52632px;
    color: #FFFFFF;

}

.karla-13px {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 32px;
    letter-spacing: 0.433333px;
    text-transform: uppercase;
}

.karla-dollar-sign {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -1.2px;
}

.karla-30px {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: -2px;
}

.karla-20px {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.68px;

}

.karla-12px {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: -0.4px;
   

}

.karla-15px {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}

.letter-spacing-0425 {
    letter-spacing: -0.425px;
}

.line-height-32px {
    line-height: 32px;
}

.card-user-info {
    margin-left: 22px;
    p {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .card-user-name {
        font-family: Karla;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 28px;
        letter-spacing: -0.31875px;
        color: #1F1F1F;

    }

    .card-user-job {
        font-family: Karla;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 28px;
        letter-spacing: -0.4px;
        color: #666666;

    }
}

